{% extends "base.html" %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register</h2>
                <form id="register" action="/register" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Jean" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="**********" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create account</button>
                    </div>
                </form>
                <hr>
                <a href="/">Back to the index</a>
                &nbsp;
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $("#register").submit(function(e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(data) {
                if (!data.result) {
                    alert(data.error);
                } else {
                    window.location = '/home'
                }
            },
            error: function(jqXHR, textStatus) {
                if (jqXHR.status === 400) {
                    alert('Invalid form input');
                } else {
                    alert(jqXHR.responseText);
                }
            }
        });
    });
</script>
{% endblock %}
